.faq-section h2{
     font-size: 50px;
     text-transform: uppercase;
     font-weight: 900;
}
.faq-item {
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 15px;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  position: relative;
}

.faq-question::after {
  content: '+';
  position: absolute;
  top: 3px;
  right: 15px;
  font-size: 30px;
  transition: transform 0.3s;
}

.faq-question.active::after {
  content: '-';
  transform: rotate(180deg);
}

.faq-answer {
  display: none;
  padding: 0 15px 15px 15px;
  color: #555;
}

.faq-question.active + .faq-answer {
  display: block;
}
@media (max-width:766px){
     .faq-section h2{
          font-size: 35px;
          text-align: left;
     }
     .faq-section p{
          text-align: left;
     }
     .faq-question{
          font-size: 15px;
     }
}